<header>
    <div class="container">
        <h1>Sitemap Analysis</h1>
        <div class="meta">
            <div>{{rootUrl}}</div>
            <div>{{timestamp}}</div>
        </div>
    </div>
</header>
